$base_font:'Urbanist', sans-serif;

$bl:block;
$in:inline;
$in_bl:inline-block;
$fl:flex;
$wr:wrap;
$sp_bet:space-between;
$no:none;

//position
$rel:relative;
$fix:fixed;
$abs:absolute;
$stic:sticky;

//text-align and others
$upp:uppercase;
$cent:center;
$cen:centre;
$point:pointer;
$t_:top;
$sol:solid;
$trans:transparent;
$hid:hidden;
$cov:cover;
$n_rep:no-repeat;